main {
    height: 75%;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 0px 50px;
    gap: 100px
}



.name1,
.name2 {
    color: #4e6755;
    font-family: "Comic Sans MS";
}
.name1 {
    text-align: left;
}
.name2 {
    text-align: right;
}

.name_container {
    display: flex;
    flex-direction: column;
}