main {
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
        height: 60%;
    }
    header {
        height: 20%;
        width: 100%;
    }
    footer {
        height: 20%;
        width: 100%;
    }
    p {
        font-size: 9px;
    }
}