/* body */
    body {
        background-color: #eff4e9;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0
    }


/* header parts */
    header {
        border-color: black;
        border-width: 1px;
        height: 30%;
    }

/* navigation */
    .container {
        overflow: hidden;
        display: flex;
        background-color: #577454;
    }
    .container h2 {
        font-size: 20px;
        text-align: left;
        padding-left: 20px;
        color:#314230
    }
    .container a {
        float: left;
        color: #dbefde;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Comic Sans MS';
    }
    .container a:hover {
        background-color: #344639;
    }
    .container a.active {
        background-color: #496150;
        color: white;
    }


/* logo to left */
    #logo > img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        float: left;
    }


/* links */
    a {
        color:#4b6349;
        text-decoration: none;
    }


/* footer parts */
    footer {
        height: 15%;
        background-color: #6e916a;
        display: list-item;
        color:#2f3d2e;
        font-family: 'Comic Sans MS';
        padding-top: 10px;
    }
    footer > li > a {
        color: #ffffff; 
    }
    footer > li > a:hover {
        color:#2f3d2e;
    }

/* logout menu screen */
    .wrapper {
        align-content: left;
        display: block;
        width: 40%;
        border-radius: 10px;
        padding: 30px 40px;
        margin-left: 100px;
        }
    h1 {
        color: #478b52;
        font-size: 30px;
        text-align: center;
    }
    button {
        width: 100%;
        height: 45px;
        background: #6fb674;
        color:#3a6a43;
        font-size: 15px;
        border: none;
        outline: none;
        border-radius: 40px;
        font-weight: 600;
    }
    button:hover {
        background: #628d70;
        color:#39563e;
    }
    .photo-logout img {
        width: 470px;
        height: 470px;
        margin-right: 100px;
    }
    #menu {
        display: flex;
        align-content: center;
    }