/* main css */

/* header parts */
header {
    border-color: black;
    border-width: 1px;
    height: 40%;
}

/* all h1 */
h1 {
    color: #6a9465;
    text-align: center;
}

/* navigation */
.container {
    overflow: hidden;
    display: flex;
    background-color: #577454;
}
.container h2 {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: #314230;
}
.container a {
    float: left;
    color: #dbefde;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Comic Sans MS";
}
.container a:hover {
    background-color: #344639;
}
.container a.active {
    background-color: #496150;
    color: white;
}

/* logo to left */
#logo > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

/* links */
a {
    color: #4b6349;
    text-decoration: none;
}

/* footer parts */
footer {
    height: 30%;
    background-color: #6e916a;
    display: list-item;
    color: #2f3d2e;
    font-family: "Comic Sans MS";
    padding-top: 10px;
    justify-content: left;
}
footer > li > a {
    color: #ffffff;
}
footer > li > a:hover {
    color: #2f3d2e;
}

/* Game */
body {
    font-family: system-ui, sans-serif;
    background: #e8f5e9;
    text-align: center;
    margin: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 4px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    background: #a5d6a7; /* grass */
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell.revealed {
    background: #f1f8e9; /* soil */
    cursor: default;
}

.cell.bad {
    background: #ef9a9a;
}

button {
    width: 20%;
    margin: 10px;
    height: 45px;
    background: #6fb674;
    color: #3a6a43;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 600;
}
button:hover {
    background: #628d70;
    color: #39563e;
}

#info {
    max-width: 400px;
    padding: 12px;
    border: 2px solid #577454;
    border-radius: 8px;
    background-color: #e4e9dd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

p {
    color: #688764;
    font-family: "Comic Sans MS";
}

p:hover {
    color: #4b6349;
}

.stopwatch-container {
    text-align: center;
    margin-top: 10px;
    font-family: monospace;
}
#display {
    font-size: 15px;
    color: #4b6349;
    font-family: "Comic Sans MS";
    margin-bottom: 5px;
}
#startButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
}
