/* body */
    body {
        background-color: #eff4e9;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0
    }


/* header parts */
    header {
        height: 15%;
        border-color: black;
        border-width: 1px;
    }


/* inner parts */
    main {
        height: 70%;
        padding: 0% 5% 0% 5%;
    }


/* all h1 */
    h1 {
        color:#6a9465;
        text-align: left;
    }


/* all h3 */
    h3 {
        color: #6a9465;
        text-align: left;
    }


/* navigation */
    .container {
        overflow: hidden;
        display: flex;
        background-color: #577454;
    }
    .container h2 {
        font-size: 20px;
        text-align: left;
        padding-left: 20px;
        color:#314230
    }
    .container a {
        float: left;
        color: #dbefde;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Comic Sans MS';
    }
    .container a:hover {
        background-color: #344639;
    }
    .container a.active {
        background-color: #496150;
        color: white;
    }


/* logo to left */
    #logo > img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        float: left;
    }


/* links */
    a {
        color:#4b6349;
        text-decoration: none;
    }


/* footer parts */
    footer {
        height: 15%;
        background-color: #6e916a;
        display: list-item;
        color:#2f3d2e;
        font-family: 'Comic Sans MS';
    }
    footer > li > a {
        color: #ffffff; 
    }
    footer > li > a:hover {
        color:#2f3d2e;
    }


/* texts */
    p {
        color:#577454;
        font-size: 17px;
        text-align: justify;
        font-family: 'Comic Sans MS';
    }


/* about us parts */
    .name1, .name2 {
        color: #4e6755;
        font-family: 'Comic Sans MS';
    }
    .name1 {
        text-align: left;
    }
    .name2 {
        text-align: right;
    }


/* login menu screen */
    .wrapper {
        align-content: left;
        display: block;
        width: 40%;
        border-radius: 10px;
        padding: 30px 40px;
        margin-left: 100px;
        }
    .wrapper h1 {
        color: #478b52;
        font-size: 36px;
        text-align: center;
    }
    .wrapper p {
        color: #4c7c55;
        text-align: left;
     }
    .wrapper input {
        width: 200px;
        height: 50px;
        font-size: large;
        background-color: #d3e8d6;
        color: #55a169;
        border-radius: 10px;
        padding: 20px 45px 20px 20px;
    }
    .wrapper .input-box {
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .input-box input {
        width: 100%; 
        height: 100%;
        background: transparent;
        outline: none;
        border: 2px solid #477b4e;
        border-radius: 40px;
    }
    .input-box input::placeholder {
        color: #53965b;
        padding: 20px 45px 20px 20px;
    }
    .wrapper .btn {
        width: 100%;
        height: 45px;
        background: #6fb674;
        color:#3a6a43;
        font-size: 15px;
        border: none;
        outline: none;
        border-radius: 40px;
        font-weight: 600;
    }
    .wrapper .btn:hover {
        background: #628d70;
        color:#39563e;
    }
    .photo-login img {
        width: 470px;
        height: 470px;
        margin-right: 100px;
    }
    #menu {
        display: flex;
        align-content: center;
    }


/* Shop */
    #shop {
        float: right;
        height: 400px;
        width: 400px;
    }


/* Garden Pop Ups */
    #popup {
        width: 50%;
        background-color: #605647;
        color:#615c4a;
        display: flex;
        border: 5px solid #3d3a2e;
        border-radius: 15px;
        width: 500px;
        padding: 10px;
        float: right;
    }
    #popup button {
        background-color: #635f4d;
        color: #bab293;
        font-family: 'Comic Sans MS';
        border-radius: 5px;
        border-color: #3d3a2e;
    }
    #extra img {
        width: 50px;
        height: 50px;
    }
    #garden {
        display: flex;
        align-content: center;
    }